---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
---

<Layout title="Carrito">
    <Title title="Carrito" subtitle="Carrito de compra" />
    <div id="carrito">
        <!-- Aquí se mostrarán los datos del carrito -->
    </div>

    <button id="vaciarBtn">Vaciar</button>

    <script type="module">
        // Obtener el carrito almacenado en localStorage o un array vacío si no existe
        var carrito = JSON.parse(localStorage.getItem("carrito")) || [];

        var carritoDiv = document.getElementById("carrito");
        var vaciarBtn = document.getElementById("vaciarBtn");
        var contadorCarrito = document.getElementById("contadorCarrito"); // Nuevo

        carrito.forEach(function (el, index) {
            var nuevoElemento = document.createElement("span");
            nuevoElemento.textContent = el + " ";
            carritoDiv.appendChild(nuevoElemento);
            if ((index + 1) % 3 === 0) {
                carritoDiv.appendChild(document.createElement("br"));
            }
        });

        // Actualizar el contador del carrito (Nuevo)
        contadorCarrito.textContent = (carrito.length / 3);

        // Guardar el contador en localStorage
        localStorage.setItem("contadorCarrito", (carrito.length / 3));

        // Agregar evento al botón de vaciar
        vaciarBtn.addEventListener("click", function () {
            // Vaciar el carrito en localStorage
            localStorage.removeItem("carrito");

            // Limpiar la vista
            carritoDiv.innerHTML = "";

            // Actualizar el contador del carrito (Nuevo)
            contadorCarrito.textContent = 0;

            // Guardar el contador en localStorage
            localStorage.setItem("contadorCarrito", 0);
        });
    </script>
</Layout>
