---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
---

<Layout title="Carrito">
    <Title title="Carrito" subtitle="Carrito de compra" />
    <div class="contenedor" id="carrito">
        <!-- Aquí se mostrarán los datos del carrito -->
    </div>

<hr class="mt-6 mb-4">

    <a href="/carrito" class="pedido">Realizar Pedido</a>
    <br>
    <button class="vaciar" id="vaciarBtn">Vaciar</button>

    <hr class="mt-6 mb-6">
    <div id="total" class="text-sm mt-2 mb-2">
        Faltaría un contador cuando un producto es añadido varias veces, fotografías, precio total y trámite de pedido.
    </div>
    <script type="module">
        // Obtener el carrito almacenado en localStorage o un array vacío si no existe
        var carrito = JSON.parse(localStorage.getItem("carrito")) || [];

        var carritoDiv = document.getElementById("carrito");
        var vaciarBtn = document.getElementById("vaciarBtn");
        var contadorCarrito = document.getElementById("contadorCarrito"); // Nuevo

        carrito.forEach(function (el, index) {
            var nuevoElemento = document.createElement("span");
            nuevoElemento.textContent = el + " ";
            carritoDiv.appendChild(nuevoElemento);
            if ((index + 1) % 3 === 0) {
                carritoDiv.appendChild(document.createElement("br"));
            }
        });

        // Actualizar el contador del carrito (Nuevo)
        contadorCarrito.textContent = (carrito.length / 3);

        // Guardar el contador en localStorage
        localStorage.setItem("contadorCarrito", (carrito.length / 3));

        // Agregar evento al botón de vaciar
        vaciarBtn.addEventListener("click", function () {
            // Vaciar el carrito en localStorage
            localStorage.removeItem("carrito");

            // Limpiar la vista
            carritoDiv.innerHTML = "";

            // Actualizar el contador del carrito (Nuevo)
            contadorCarrito.textContent = 0;

            // Guardar el contador en localStorage
            localStorage.setItem("contadorCarrito", (0).toString());


        });
    </script>
</Layout>

<style>
    .contenedor {
        margin-top: 2%;
        font-size: medium;
    }

    .pedido {
        color: rgba(216, 216, 216, 0.829);
		transition: color 0.3s;
		font-size: large;
	}

    .vaciar {
        color: rgba(216, 216, 216, 0.651);
		transition: color 0.3s;
		font-size: large;
		margin-top: 1%;
	}
	.vaciar:hover, .pedido:hover {
		color: #d3d3d3;
	}

</style>