<a href="/markdown/documentacion" class="footer">©2023 Sofos</a>

<style>
    .footer {
        padding: 2%;
        width: 100vw;
        display: flex;
        justify-content: center;
        color: rgb(204, 204, 204);
        transition: color 0.3s;
    }

    .footer:hover {
        color: white;
    }

    @media (min-width: 1024px) {
        .footer {
            justify-content: flex-end;
            padding: 0.8%;
            width: 100%;
        }
    }
</style>
