---
export interface Props {
    title: string;
    subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<div class="title">
    {title}
</div>
<h4>{subtitle}</h4>
<hr class="solid" />

<style>
    .title {
        font-weight: bolder;
        font-size: 2rem;
        padding: 0%;
    }

    hr.solid {
        margin-top: 2%;
        border-top: 2px solid #ffffff3a;
    }
</style>
