---
import Header from '../components/Header.astro';
import Title from '../components/Title.astro';
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<Header />
		<div class="container">
			<Title title={frontmatter.title} title2 ="" subtitle={"Post By "+ frontmatter.author}></Title>
			<slot />
		</div>
	</body>
</html>
<style>
	.container {
		padding-left: 300px;
		padding-right: 300px;
		margin-left: auto;
		margin-right: auto;
	}
</style>